<div class="meta">
created by &nbsp;<strong><%= @wikipost.author %></strong>&nbsp;
on&nbsp;<strong><%= @wikipost.created_at %></strong>&nbsp;
and last updated&nbsp;<strong><%= @wikipost.updated_at %></strong>&nbsp;
</div>